In [1]:
#variables in python

first_name = 'Vanshika'
last_name = 'K'
country = 'India'
city = 'Delhi'
age = 24
is_married = False
skills = ['HTML','CSS','JS','Python','MySQL']
person_info = { 'firstname': 'Vanshika',
                'lastname': 'K',
                'country': 'India',
                'city': 'Delhi'
              }

In [10]:
print("First Name: ",first_name)
print("First Name Length: ",len(first_name))
print("Last Name: ",last_name)
print("Last Name Length: ",len(last_name))
print("Country: ",country)
print("City: ",city)
print("Age: ",age)
print("Married: ",is_married)
print("Skills: ",skills)
print("Personal Information: ",person_info)

First Name:  Vanshika
First Name Length:  8
Last Name:  K
Last Name Length:  1
Country:  India
City:  Delhi
Age:  24
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'Python', 'MySQL']
Personal Information:  {'firstname': 'Vanshika', 'lastname': 'K', 'country': 'India', 'city': 'Delhi'}

In [19]:
#declaring multiple variables in one line

firstname, lastname, country, age, is_married = "Vanshika","K","India",24,False
print(firstname, lastname, country, age, is_married)
print("Name:",firstname,lastname)
print("Country",country)
print("Age:",age)
print("Married:",  is_married)

Vanshika K India 24 False
Name: Vanshika K
Country India
Age: 24
Married: False

In [26]:
#Arithmetic Operations
#Integers
print('Addition:',46+435)
print('Subtraction:',63-87)
print('Division:',7/2)
print('Division (Floor Division):',7//2)  #returns quotient
print('Division (Remainder):',7%2)
print('Exponential:',3**2)

Addition: 481
Subtraction: -24
Division: 3.5
Division (Floor Division): 3
Division (Remainder): 1
Exponential: 9

In [27]:
#floating numbers

print('floating numbers,pi:',3.14)
print('gravity:',9.81)

floating numbers,pi: 3.14
gravity: 9.81

In [29]:
#complex numbers

print('Complex Numbers:',1+2j)
print('Multiplying Complex Numbers:',(1+2j)*(1-2j))

Complex Numbers: (1+2j)
Multiplying Complex Numbers: (5+0j)

In [35]:
#declaring a variable at the beginning

a,b=3,7 #a and b are variables with interger values stored in them

#performing arithmetic operations
add=a+b
difference=a-b
product=a*b
division=a/b

print(add,difference,product,division)

10 -4 21 0.42857142857142855